version: "1.0"
services:
  # php55:
  #   build: ./Dockerfiles/php55alpine
  #   restart: unless-stopped
  #   volumes:
  #     - ./code/:/app
  #     - ./src/info.php:/app/_dockerinfo.php
  #   working_dir: /app
  #   entrypoint: "php -S 0.0.0.0:80"
  #   ports:
  #     - 10550:80
  #   environment:
  #     - PHP_FPM_USER=www-data
  #     - PHP_FPM_GROUP=www-data
  #     - PHP_FPM_LISTEN_MODE=0666

  php56:
    build: ./Dockerfiles/php56alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10560:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php70:
    build: ./Dockerfiles/php70alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10700:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php71:
    build: ./Dockerfiles/php71alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10710:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php72:
    build: ./Dockerfiles/php72alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10720:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php73:
    build: ./Dockerfiles/php73alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10730:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php74:
    build: ./Dockerfiles/php74alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10740:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php80:
    build: ./Dockerfiles/php80alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10800:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php81:
    build: ./Dockerfiles/php81alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10810:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666

  php82:
    build: ./Dockerfiles/php82alpine
    restart: unless-stopped
    volumes:
      - ./code/:/app
      - ./src/info.php:/app/_dockerinfo.php
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:80"
    ports:
      - 10820:80
    environment:
      - PHP_FPM_USER=www-data
      - PHP_FPM_GROUP=www-data
      - PHP_FPM_LISTEN_MODE=0666
